boost/buffers/buffers
boost/buffers/flatbuffer
boost/buffers/flatstaticbuffer
boost/buffers/multibuffer
websocket_client 
websocket_client_ssl 
websocket_server 
websocket_server_ssl
*.swp
*.dSYM
json/boost/deribit/auth
json/boost/deribit/cancel
json/boost/deribit/error
json/boost/deribit/feed
json/boost/deribit/neworder
json/boost/deribit/open
json/boost/deribit/subscribe
json/boost/deribit/trade

